@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: red;
}

#container{
    height: 100%;
    background-color: #F3F3F3;
}

#top{
    height: 10%;
    display: flex;
}

#top-left{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-center{
    height: 100%;
    width: 40%;
    display: flex;
}

nav{
    height: 100%;
    width: 100%;
}

ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

#top-right{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 50%;
    width: 30%;
    border-radius: 30px;
    border: none;
    background-color: #D0AD5A;
    color: #F3F3F3;
    font-weight: 600;
    font-size: 20px;
}


#middle{
    height: 90%;
    width: 100%;
    display: flex;
}

#middle-left{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#middle-left-top{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#middle-left-top span{
    color: #D0AD5A;
}

#middle-left-center{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-left-center h2{
    font-weight: 500;
}

#middle-left-bottom{
    height: 20%;
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#whatsaApp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    background-color: #D0AD5A;
    color: #F3F3F3;
    font-size: 19px;
    font-weight: 500;
    gap: 10px;
    border-radius: 30px;
}

#middle-right{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#form-geo{
    height: 100%;
    width: 95%;
    background-color: #D9D9D9;
    border-radius: 60px 60px 0 0;
}