        body {
            margin: 0;
            padding: 0;
            background: #F3F3F3;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
        }

        #container {
            padding: 40px;
            height: auto;
            width: 380px;
            border-radius: 12px;
            text-align: center;
            justify-content: center;
        }

        #logo {
            margin-bottom: 20px;
            height: auto;
        }
        img {
            height: 80px;
            width: auto;
        }

        h2 {
            font-size: 22px;
            margin-bottom: 8px;
            font-weight: 700;
        }

        p {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 14px;
            color: #444;
        }

        input {
            width: 92%;
            padding: 14px;
            border-radius: 8px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            font-size: 14px;
        }

        #btn {
            width: 100%;
            padding: 14px;
            background: #d6b24a;
            border: none;
            border-radius: 8px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
            margin-bottom: 20px;
            transition: 0.2s;
            font-size: large;
        }

        #btn:hover {
            background: #c29f3c;
        }

        #divider {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }

        #divider span {
            flex: 1;
            height: 1px;
            background: #aaa;
        }

        #divider p {
            margin: 0 10px;
            font-size: 14px;
            color: #444;
        }

        #social-buttons button {
            padding: 10px 25px;
            border-radius: 20px;
            border: 1px solid #333;
            background: white;
            margin: 5px;
            cursor: pointer;
        }

        #social-buttons button:hover {
            background: #eee;
        }

        small {
            display: block;
            margin-top: 15px;
            font-size: 12px;
            color: #555;
        }

        small a {
            color: #c29f3c;
            text-decoration: none;
        }