@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body {
  overflow: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    color: #000;
}

/* ---------------- NAVBAR ---------------- */

header{
    width: 100%;
    padding: 20px 8%;
    display: flex;
}

#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 160px;
    height: auto;
}

#nav_list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-item a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.nav-item.active a{
    border-bottom: 3px solid #D0AD5A;
}

.btn_default{
    border: none;
    background-color: #D0AD5A;
    color: #fff;
    border-radius: 10px;
    padding: 12px 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

/* ---------------- FOTOS PERFIS ---------------- */

.fotos{
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.perfil {
    text-align: center;
}

.perfil img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

/* ---------------- MAIN ---------------- */

main{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 40px 8%;
}

/* Sobre-nos  */
.sobre-nos{
    width: 50%;
    background: #d1b05c;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-nos h4 {
    font-size: 16px;
}

.sobre-nos h1 {
    font-size: 45px;
    font-weight: 800;
    margin: 10px 0 25px;
}

.sobre-nos p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.6;
}


.historia {
    width: 50%;
    background: #d9d9d9;
    padding: 40px;
}

.historia h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.historia p {
    font-size: 22px;
    line-height: 1.65;
}

/* ---------------- RESPONSIVIDADE ---------------- */
@media (max-width: 992px) {

    html, body {
  overflow: auto;
    height: 100%;
}

    #nav_list { gap: 25px; }

    main {
        flex-direction: column;
        padding: 30px 6%;
    }

    .sobre-nos,
    .historia {
        width: 100%;
    }

    .sobre-nos h1 { font-size: 38px; }
    .sobre-nos p { font-size: 18px; }

    .historia h2 { font-size: 32px; }
    .historia p { font-size: 19px; }

    .perfil img {
        width: 95px;
        height: 95px;
    }
}


@media (max-width: 600px) {

       html, body {
  overflow: auto;
    height: 100%;
}
    #nav_list {
        display: none; 
    }

    .btn_default {
        padding: 8px 20px;
        font-size: 14px;
    }

    #logo {
        width: 130px;
    }

    .fotos {
        gap: 25px;
    }

    .perfil img {
        width: 85px;
        height: 85px;
    }

    .sobre-nos,
    .historia {
        padding: 25px;
    }

    .sobre-nos h1 { font-size: 32px; }
    .sobre-nos p { font-size: 16px; }

    .historia h2 { font-size: 28px; }
    .historia p { font-size: 16px; }
}


