@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    color: #000;
}

header{
    height: 15%;
    width: 100%;
    padding: 28px 8%;
    display: flex;
}


#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo{
    max-width: 100%;
    max-width: 180px;
    height: auto;
}


#nav_list{
    list-style: none;
    display: flex;
    gap: 48px;
}


.nav-item a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
}


.nav-item.active a{
    color: #000;
    border-bottom: 3px solid #D0AD5A;
}


.btn_default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0AD5A;
    color: #F3F3F3;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
}


main{
    display: flex;
    height: 85%;
    padding: 40px;
    gap: 30px;
}

.sobre-nos {
    flex: 1;
    background: #d1b05c;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%; 
}
#ex{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}


.sobre-nos h4 {
    font-size: 18px;
}

.sobre-nos h1 {
    font-size: 50px;
    font-weight: 800;
    margin: 10px 0 25px;
    
}

.sobre-nos p {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.6;
}


.lado-direito {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}


.perfis {
    width: 100%;              
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 40px;
    margin: 0 auto 30px auto; 
}

.perfil {
    text-align: center;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.historia {
    background: #e3e3e3;
    padding: 40px;
    height: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.historia h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.historia p {
    font-size: 25px;
    line-height: 1.65;
}


